button {
    transition: background-color 0.3s ease;
}
.dC:hover {
    background-color: transparent !important;
}
#formatbutton:hover{
    background-color: rgb(255, 0, 242) !important;

}
#gU.Up:hover{
    background-color: transparent !important;
}
